@page
@model AboutUsModel
@{
    ViewData["Title"] = "Om Empty Hanger";
}
<div class="container">
        <div class="row justify-content-center">
            <div class="col-7">
                <h1 class="my-4">@ViewData["Title"]</h1>
                <p>
                    Hos oss hittar du allt du behöver inom hypermoderna herrkläder.
                    Vårt erbjudande grundar sig i tanken att du ska få snabb tillgång till det nyaste innekläderna.
                    Vi på Empty Hanger ligger alltid i framkant med extremt limiterade kollektioner.
                    På så vis säkerställer vi att våra kunder ska kunna vara sig själva utan konkurrens.
                </p>
            </div>
        </div>
</div>
