@page
@model Kladbutiken.Pages.ContactUsModel
@{
    ViewData["Title"] = "Kontakt";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-7">
            <h1 class="my-4">Kontakta oss</h1>
            <strong>Telefon: 08-100 000 </strong> <br />
            <p>Telefontider: Måndag-Fredag: 09.00 - 15.00</p>
            <p><strong>Mail: info@emptyhanger.se </strong>- Återkoppling inom 24 timmar.</p>
        </div>
    </div>
</div>