@page
@model Kladbutiken.Pages.PaymentModel
@{
}

<div class="container">
    <div class="row">
        <h1>Tack för din beställning!</h1>
        <p>Ditt ordernummer: @Model.Order.ID</p>
    </div>
</div>
