@page
@model Kladbutiken.Pages.Customer.AddAddressModel
@{
}
<link href="~/css/CustomerStyle.css" rel="stylesheet">
<div class="container">
    <div class="view-account">
        <section class="module">
            <div class="module-inner">
                <div class="content-panel">
                    <h2 class="title">Ny Adress</h2>
                    <fieldset class="fieldset">
                        <form method="post">
                            <input type="hidden" asp-for="Model.UserId" value="@Model.LoggedInAs.ID"/>
                            <div class="form-group">
                                <label class="col-md-2  col-sm-3 col-xs-12 control-label">Gatuadress</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input asp-for="Model.Street" class="form-control" placeholder="Adress">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2  col-sm-3 col-xs-12 control-label">Postkod</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input asp-for="Model.PostalCode" class="form-control" placeholder="Postkod">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2  col-sm-3 col-xs-12 control-label">Postort</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input asp-for="Model.State" class="form-control" placeholder="Postort">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2  col-sm-3 col-xs-12 control-label">Stad</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input asp-for="Model.City" class="form-control" placeholder="Stad">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2  col-sm-3 col-xs-12 control-label">Land</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input asp-for="Model.Country" class="form-control" placeholder="Land">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
                                    <input class="btn btn-primary" type="submit" value="Spara">
                                </div>
                            </div>
                        </form>
                    </fieldset>
                </div>
            </div>
        </section>
    </div>
</div>
