@page
@model Kladbutiken.Pages.AdminOrder.OrderDeliveryCheckModel
@{
}

<div class="container mt-5">
    <div class="row">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                Ordrar - status: @Model.OrderStatus
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Nummer</th>
                                <th>Datum</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Nummer</th>
                                <th>Datum</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var order in Model.AllOrders.OrderByDescending(o => o.OrderDate))
                            {
                                <tr>
                                    <td>@order.OrderNumber</td>
                                    <td>@order.OrderDate</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
